Dear #{@user.name},
%p
  Welcome to User Authorization & Welcome Email App! If you are receiving this email, you registered as a user.

  To login to the site, simply visit #{@url}

  Thanks for joining and have a terrific day!